@font-face {
    font-family: "south-mind-regular";
    src: url("south-mind-regular.ttf");
}
body, html {
    margin: 0vh;
    padding: 0vh;
    
}
header {
    display: flex;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
}
nav {
    background-color: transparent;
    width: 100%
}
nav > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 12%;
    margin-right: 12%;
    list-style: none;
}
.hero {
    text-decoration: none;
    color: #eee;
    display: inline-block;
    font-weight: 530;
    position: relative;
    font-size: 1.2rem;
}
#Logo {
    text-transform: capitalize;
    text-decoration: none;
    color: #eee;
    display: inline-block;
    font-weight: 550;
    font-family: "south-mind-regular";
    position: relative;
    font-size: 3rem;
}
  .hero::after, #Logo::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eee;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hero:hover::after, #Logo:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
  }
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vh; 

}
.sub-content1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 0
}
.sub-content1 > p {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 50vh;
    padding-right: 50vh;
}
h1, h2, p {
    color: #eee;
    font-family: "south-mind-regular";
    font-weight: 500;
    text-align: center;
    margin-top: 5vh;
  }
  
  h1 {
    font-size: 5rem;
    margin-top: 25vh;
  }
  
  h2 { font-size: 3rem; 
    margin-top: -5vh;
}
p {
    font-size: 2rem;
    margin-top: -2.5vh;
}